.diagrams-container {
  display: flex;
  height: 100vh;
  background-color: #EAECF7;
}

.diagrams-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 95px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 35px;
  gap: 30px;
}

.diagrams-filters {
  width: 100%;
  height: 75px;
  background: #F4F6FB;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diagrams-active-filters {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.diagrams-filter-tag {
  background-color: #A2BCE0;
  border-radius: 20px;
  padding: 5px 10px;
  font-family: 'PT Serif Caption', serif;
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #000;
}

.diagrams-close-tag {
  margin-left: 5px;
  cursor: pointer;
}

.diagrams-horizontal-separator {
  width: 100%;
  height: 1px;
  background-color: rgba(64, 64, 64, 0.5);
}

.diagrams-dropdown-filters {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.diagrams-filter-item {
  font-family: 'PT Serif Caption', serif;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  padding: 0 10px;
}

.diagrams-vertical-separator {
  width: 1px;
  height: 100%;
  background-color: rgba(64, 64, 64, 0.5);
}

.diagrams-reset-filter {
  width: 25px;
  height: 25px;
}

.diagrams-reset-filter img {
  width: 100%;
  height: 100%;
}

/* Основні діаграми */
.diagrams {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-grow: 1;
}

.resources-diagram, .time-diagram {
  background-color: #F4F6FB;
  border-radius: 15px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 48%;
  display: flex;
  flex-direction: column;
}

.diagram-placeholder {
  flex-grow: 1;
  background-color: rgba(162, 188, 224, 0.7);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #FFFFFF;
}

.bottom-diagrams {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-grow: 1;
}

.tone-diagram, .keywords-diagram, .custom-diagram {
  background-color: #F4F6FB;
  border-radius: 15px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 32%;
  display: flex;
  flex-direction: column;
}
