.sidebar {
  position: absolute;
  width: 70px; /* Initial collapsed width */
  height: 100vh;
  left: 0;
  top: 0;
  background: #F4F6FB;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px; /* Add padding to create space from the left edge */
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 201px; /* Expanded width */
}

.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: flex-start; /* Align items to the left */
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%; /* Full width of the container */
  padding: 10px 0;
  text-decoration: none;
  color: #4D4D4D; /* Text and icon color */
  position: relative;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  z-index: 1; 
}

.menu-icon {
  font-size: 25px; /* Adjust the size of the icon */
  color: #4D4D4D; /* Icon color */
  margin-right: 15px; /* Space between icon and text */
}

.menu-item:hover::before {
  content: '';
  position: absolute;
  left: -13px; /* Align the rectangle with the left edge of the container */
  width: 155.96px;
  height: 35px;
  background: #EAECF7; /* Highlight color */
  opacity: 1;
  border-radius: 10px; /* Rounded corners */
  z-index: 1; /* Ensure it appears behind the text */
}

.menu-text {
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
}

.sidebar:hover .menu-text {
  opacity: 1; /* Visible when hovering over the sidebar */
}